*{
    margin: 0;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    font-size: 1.5rem;
}

.left {
    display: flex;
    flex-direction: column;
    background-color: rgb(83, 94, 94);
    color: bisque;
    padding: 15px;
    gap: 20px;
}

.right {
    padding: 15px;
    gap: 20px;
    flex-grow: 1;
    color: rgb(26, 115, 211);
    background-color: rgb(187, 182, 192);
}

@media (max-width: 640px) {
    body {
        flex-direction: column-reverse;
    }
    .left {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

